body {
	background-color: #f1e8ca;
	font-family: 'Roboto', sans-serif;
}

html {
 	box-sizing: border-box;
}

* {
	border: 1px solid red;
}


/* top section */

.masthead {
	height: 12.5rem;
	background-color: #a8b9a8;
	text-align: center;
	border: 1px solid red;
	overflow: auto;
}

.logo img {
 	height: 120px;
 	padding-top: 15px; 
 	padding-bottom: 15px; 
	display: block; 
 	margin: 0 auto; 
 	border: 1px solid red;
}


/*item counts*/

.item-tally {
	margin: 0 auto;
	border: 1px solid red;
	background-color: #7E977E;
	width: 50%;
	color: white;
	border-radius: 10px;
}

.counts li {
	display: inline-block;
	font-size: 1.5rem;
	padding: .5rem 4rem 0 4rem;
	border: 1px solid red;

}

/* instructions */

.instructions {
	text-align: center;
	margin-top: 1.6rem;
	font-size: 1.5rem;
	font-style: italic;
}


/* input box and item list */

.main {
	margin: 0 auto;
	height: 100%;
	width: 50%;
	border: 1px solid red;

}

.form {
	border: 1px solid red;
	text-align: center;
}


.new-item {
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 1.6rem;
	font-size: 1.5rem;
	border: 1px solid red;
	width: 60%
}

.list-items {
	font-size: 2rem;
	text-align: center;
	

}

.list-items li {
	border: 1px solid black;
	padding-top: .75rem;
	padding-bottom: .75rem;
	background-color: #dde5ed;
	cursor: default;
	border-radius: 5px;
}

.list-items li:nth-child(even) {
	background-color: #a8b9a8;
}

.checked {
  	text-decoration: line-through;
}